
.container{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  box-shadow: 0 0 5px  black;
  height: 95vh;
  overflow-y:Scroll;
}
body{
  background-color: rgb(245,238,212);
}

#logo {
  margin-top: 5px;
  width: 15%;
  height: auto;
}

@media print {
  body * {
    visibility: hidden;
  }
  img.print-qr-code {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}
